<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title_races %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_analytics_races.html") %>

    <%= t.include("partials/_head_races.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_flat_nav_races.html") %>
    <%= t.include("partials/_nav_races.html") %>

    <div class="flex-container">
      <div class="above-photo">
        <div class="title"><%=json.sfmarathonrace["Title"]%></div>
        <div class="date"><%=json.sfmarathonrace["Date"]%></div>
        <div class="title-deck"><%=json.sfmarathonrace["Deck"]%></div>
        <div class="author">By <a href="mailto:eallday@sfchronicle.com">Erin Allday</a> and <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
      </div>

      <div class="landing-image flex-image">
        <img src="http://ww2.hdnux.com/photos/61/64/55/<%= json.sfmarathonrace['main_image'][0].WcmID %>/5/2500x0.jpg"></img>
        <div class="caption top"><span class="byline"><%= json.sfmarathonrace['main_image'][0].Photographer %></span></div>
      </div>
    </div>

    <div class="outer" id="content">

      <div class="intro-text">
        <% json.sfmarathonrace.intro.forEach(function(d,idx) { %>
            <p><%=d.value%></p>
        <% }); %>
      </div>

      <% json.sfmarathonrace.profiles.forEach(function(d,idx){ %>

        <div class="profile-hed <%=d.Key%>"  id="profile<%=d.Key%>"><%=d.Name%></div>

        <div class="inline-image">
          <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.image[0].WcmID %>/5/1000x0.jpg">
          <div class="caption"><%= d.image[0].Caption %><span class="byline"> <%= d.image[0].Photographer %></span></div>
        </div>

        <div class="interactive-container">
          <% if (d.Key == "hilary"){ %>
            <div class="hed">Hilary and Gene's races</div>
          <% } else { %>
            <div class="hed"><%=d.Name.split(" ")[0]%>'s race</div>
          <% } %>
          <div class="interactive-deck"><%=d["Race-deck"]%></div>
          <div class="race-chart">
            <div class="hover-container races">
              <div id="hover-race-name-<%=d.Key%>" class="hover-name"></div>
              <div id="hover-race-pace-<%=d.Key%>" class="hover-pace"></div>
            </div>
            <div id="<%=d.Key%>-race"></div>
          </div>
        </div>

        <div class="text-pullout centered"><%=d.Highlight.replace("**","<span class='bold-text-pullout'>").replace("*","</span>").replace("**","<span class='bold-text-pullout'>").replace("*","</span>").replace("**","<span class='bold-text-pullout'>").replace("*","</span>")%>
        </div>

        <% if (d.Key == "hilary"){ %>
          <div class="source narrow">Source: <a href="https://www.strava.com" target="_blank">Strava</a>, <%=d.Name%>, <a href="http://www.thesfmarathon.com/" target="_blank">SF Marathon</a>
          <div class="note">Note: <%=d.Note%></div>
          </div>
        <% } else if (d.Key == "lauren") { %>
          <div class="source narrow">Source: <a href="https://www.strava.com" target="_blank">Strava</a>, <%=d.Name%>, <a href="http://www.thesfmarathon.com/" target="_blank">SF Marathon</a>
          <div class="note">Note: <%=d.Note%></div>
          </div>
        <% } else { %>
          <div class="source narrow">Source: <a href="https://www.strava.com" target="_blank">Strava</a>, <%=d.Name%>, <a href="http://www.thesfmarathon.com/" target="_blank">SF Marathon</a>
          </div>
        <% } %>


        <% d.text.forEach(function(d,idx) { %>
            <p><%=d.value%></p>
        <% }); %>


      <% }); %>

      <div class="section-break" id="conclusion"></div>

      <div class="conclusion-text">
        <% json.sfmarathonrace.conclusion.forEach(function(d,idx) { %>
          <% if (d.type == "text") { %>
            <p><%=d.value%></p>
          <% } else { %>
            <div class="interactive-container nopadding">
              <div class="hed"><%=d.value[0].Hed%></div>
              <div class="interactive-deck"><%=d.value[0].Deck%></div>
              <div class="instructions">Click on the buttons below. <i class="fa fa-hand-o-right" aria-hidden="true"></i></div>
              <div class="legend-container-big mobile">
                <div class="button all active" id="all-button">All runners</div>
                <% json.sfmarathontraining.profiles.forEach(function(d,idx){ %>
                  <% if (d.Key == "hilary"){ %>
                    <div class="button hilary" id="hilary-button">Hilary</div>
                    <div class="button gene" id="gene-button">Gene</div>
                  <% } else { %>
                    <div class="button <%=d.Key%>" id="<%=d.Key%>-button"><%=d.Name.split(" ")[0]%></div>
                  <% } %>
                <% }); %>
              </div>
              <div id="dot-chart-races"></div>
              <div class="source">Source: <a href="https://www.strava.com" target="_blank">Strava</a>, Bálint Gál, Gene Dykes, Greg McQuaid, Hilary Shirazi, Iain Mickle, Jorge Maravilla and Lauren Elkins</div>
            </div>
          <% } %>
        <% }); %>
      </div>

    </div>

    <%= t.include("partials/_credits_races.html") %>
    <%= t.include("partials/_dontMiss_race.html") %>
    <%= t.include("partials/_footer.html") %>

    <script>
      var balintData = <%= JSON.stringify(json.BalintGalRace) %>;
      var geneData = <%= JSON.stringify(json.GeneDykesRace) %>;
      var gregData = <%= JSON.stringify(json.GregMcQuaidRace) %>;
      var hilaryData = <%= JSON.stringify(json.HilaryDykesRace) %>;
      var iainData = <%= JSON.stringify(json.IainMickleRace) %>;
      var jorgeData = <%= JSON.stringify(json.JorgeMaravillaRace) %>;
      var laurenData = <%= JSON.stringify(json.LaurenElkinsRace) %>;

      var raceData = <%= JSON.stringify(csv.raceSplits) %>;
      var elevationData = <%= JSON.stringify(csv.elevationProfile2017) %>;

      console.log(hilaryData);
    </script>

    <script src="../app-races.js" async></script>

    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
