<div class="divider"></div>

<section class="dont-miss">
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/sf-homeless/" target="_blank">
        <img src="http://ww1.hdnux.com/photos/62/04/51/13126228/3/premium_landscape.jpg"></img>
      </a>
      <a href="http://projects.sfchronicle.com/sf-homeless/" target="_blank">
        <div>Beyond Homelessness: Tackling the Bay Area’s epidemic</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/sf-homeless/division-street/" target="_blank">
        <img src="http://ww4.hdnux.com/photos/55/14/64/11848995/3/premium_landscape.jpg"></img>
      </a>
      <a href="http://projects.sfchronicle.com/sf-homeless/division-street/" target="_blank">
        <div>After Division Street: No simple path to ending tent cities</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/sf-homeless/division-street-map/" target="_blank">
        <img src="http://ww3.hdnux.com/photos/55/62/15/12002166/4/premium_landscape.jpg"></img>
      </a>
      <a href="http://projects.sfchronicle.com/sf-homeless/division-street-map/" target="_blank">
        <div>Interactive map: 7 lives, 7 paths, little change</div>
      </a>
      </div>
    </div>
</section>
