<div class="divider"></div>

<section class="dont-miss">
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/2016/sf-marathon-data/" target="_blank">
        <img src="http://projects.sfchronicle.com/2016/sf-marathon-data/assets/photos/3.jpg"></img>
      </a>
      <a href="http://projects.sfchronicle.com/2016/sf-marathon-data/" target="_blank">
        <div>Running the numbers: A deep dive into the data of the SF Marathon</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://www.sfchronicle.com/bayarea/article/How-the-SF-Marathon-became-not-world-famous-but-8664413.php" target="_blank">
        <img src="http://ww2.hdnux.com/photos/50/57/53/10681037/3/premium_landscape.jpg"></img>
      </a>
      <a href="http://www.sfchronicle.com/bayarea/article/How-the-SF-Marathon-became-not-world-famous-but-8664413.php" target="_blank">
        <div>How the SF Marathon became not world-famous but exceptional</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/2016/sf-marathon-data/" target="_blank">
        <img src="http://projects.sfchronicle.com/2016/sf-marathon-data/assets/photos/3.jpg"></img>
      </a>
      <a href="http://projects.sfchronicle.com/2016/sf-marathon-data/" target="_blank">
        <div>Running the numbers: A deep dive into the data of the SF Marathon</div>
      </a>
      </div>
    </div>
</section>
