
@red: #CF0000;//#8A0000;//"#F04646";

@balint: #80A9D0;
@gene: #2274A5;
@greg: #D13D59;
@hilary: #81AD54;
@iain: #FFCC32;
@jorge: "red";
@lauren: #462255;

.chart-wrapper {
  display: block;
  text-align: center;
}

.text-pullout {
  font-family: @med-graphics;
  text-align: center;
  // padding: 20px 0;
  padding-bottom: 40px;
}
.bold-text-pullout {
  font-family: @boldest-graphics;
  color: @red;
}

.miles-chart, .elevation-chart {
  display: inline-block;
}

.story-container {
  padding: 30px 0;
}

.interactive-container {
  padding: 30px 0;
}
.interactive-deck {
  font-family: @block-graphics;
  text-align: center;
  font-size: 16px;
  max-width: 800px;
  margin: auto;
}

.inline-image {
  img {
    width: 100%;
  }
}

.intro-text {
  padding-bottom: 50px;
}

.profile-hed {
  font-size: 30px;
  font-family: @boldest-graphics;
  color: @red;
  margin-bottom: 30px;
  border-bottom: 4px solid @red;
  padding-top: 30px;
}

.legend-container-big {
  font-size: 14px;
  display: block;
  text-align: center;
  padding-top: 10px;
  font-family: @block-graphics;
  .legend {
    display: inline-block;
    width: 150px;
    padding: 5px;
  }
  .legend-swath {
    height: 14px;
    width: 16px;
    background: red;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    vertical-align: sub;
    &.balint {background: @balint;}
    &.gene {background: @gene;}
    &.greg {background: @greg;}
    &.hilary {background: @hilary;}
    &.iain {background: @iain;}
    &.jorge {background: @jorge;}
    &.lauren {background: @lauren;}
  }
}

.legend-container {
  font-size: 12px;
  font-family: @block-graphics;
  padding-top: 20px;
  text-align: center;
  @media @mobile {
    padding-top: 10px;
  }
  margin: auto;
  .swath {
    vertical-align: middle;
  }
  .swath  {
    height: 16px;
    width: 18px;
    display: inline-block;
    font-size: 0;
    margin-right: -4px;
    @media @mobile {
      width: 14px;
    }
  }
  .swath-text {
    display: inline-block;
    font-size: 12px;
    // margin-top: -4px;
    &.left {
      padding-right: 10px;
    }
    &.right {
      padding-left: 10px;
    }
  }
  .red-swath0 {background: @red}
  .red-swath1 {background: lighten(@red,10%)}
  .red-swath2 {background: lighten(@red,20%)}
  .red-swath3 {background: lighten(@red,30%)}
  .red-swath4 {background: lighten(@red,40%)}
  .red-swath5 {background: lighten(@red,50%)}
  .white-swath {background: lighten(@light-gray,15%);}
}



.top-container {
  padding-top: 50px;
  padding-bottom: 100px;
  font-family: @block-graphics;
  text-align: center;
}

.title {
  font-family: @bold-graphics;
  line-height: 1.2;
  font-size: 30px;
  max-width: 500px;
}
.title-deck {
  font-family: @med-graphics;
  padding-top: 10px;
}

.deck {
  font-family: @block-graphics;
  font-size: 16px;
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 20px 0 40px 0;
}
.hed {
  font-family: @med-graphics;
}


// tooltip styles --------------------------------------------

#tooltip, .tooltip-dots {
  position: absolute;
  z-index: 10;
  font-family: @block-graphics;
  font-size: 14px;
  border: 1px solid @dark-gray;
  background: lighten(@light-gray,20%);
  padding: 10px 20px;
  b {
    font-family: @med-graphics;
  }
  .name {
    border-bottom: 1px solid @dark-gray;
  }
  &:empty {
    display: none;
  }
}

//graphs ------------------------------------------------

svg {
  display: block;
  margin: auto;
}
text {
  font-size: 14px;
  font-family: @block-graphics;
  @media @mobile {
    font-size: 12px;
  }
}

path {
    stroke-width: 1;
    fill: none;
}
.line {
  stroke: rgb(31, 119, 180);
  opacity: 0.6;
}
.elevationprofile {
  opacity: 1;
  fill: @light-gray;
  stroke: none;
}

.line-hover {
  stroke-width: 4 !important;
}
.voronoi path {
  fill: none;
  pointer-events: all;
}



.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
