<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_flat_nav.html") %>
    <%= t.include("partials/_nav.html") %>

    <div class="gif-container">
      <div class="gif"><img src="../assets/gifs/Balint_small.gif"></img></div>
      <div class="gif"><img src="../assets/gifs/Hilary_small.gif"></img></div>
      <div class="gif"><img src="../assets/gifs/Iain_small.gif"></img></div>
      <div class="gif"><img src="../assets/gifs/Lauren_small.gif"></img></div>
    </div>

    <div class="outer" id="content">

      <div class="top-container">
        <div class="title"><%=json.sfmarathontraining["Title"]%></div>
        <div class="title-deck"><%=json.sfmarathontraining["Deck"]%></div>
        <div class="author">By <a href="mailto:eallday@sfchronicle.com">Erin Allday</a> and <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>
          <div>Photos by <a href="mailto:smejia@sfchronicle.com">Santiago Mejia</a></div>
        </div>
      </div>

      <div class="intro-text">
        <% json.sfmarathontraining.intro.forEach(function(d,idx) { %>
          <% if (d.type == "text") { %>
            <p><%=d.value%></p>
          <% } else { %>
            <div class="interactive-container">
              <div class="hed"><%=d.value[0].Hed%></div>
              <div class="interactive-deck"><%=d.value[0].Deck%></div>
              <div class="legend-container-big">
                <% json.sfmarathontraining.profiles.forEach(function(d,idx){ %>
                  <div class="legend"><span class="legend-swath <%=d.Key%>"></span><span class="legend-name"><%=d.Name%></span></div>
                <% }); %>
              </div>
              <div id="dot-chart"></div>
            </div>
          <% } %>
        <% }); %>
      </div>

      <!-- <div class="link-wrapper" id="link-nav">
        <% json.sfmarathontraining.profiles.forEach(function(d,idx){ %>
          <% if (d.Key == "hilary"){ %>
            <div class="profile-link"><a href="#profile<%=d.Key%>">Hilary & Gene</a></div>
          <% } else { %>
            <div class="profile-link"><a href="#profile<%=d.Key%>"><%=d.Name.split(" ")[0]%></a></div>
          <% } %>
        <% }); %>
      </div> -->

      <% json.sfmarathontraining.profiles.forEach(function(d,idx){ %>

        <div class="profile-hed <%=d.Key%>" id="profile<%=d.Key%>"><%=d.Name%></div>

        <div class="inline-image">
          <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.image[0].WcmID %>/5/1000x0.jpg">
          <div class="caption"><%= d.image.Caption %></div>
        </div>

        <div class="interactive-container">
          <% if (d.Key == "hilary"){ %>
            <div class="hed">Hilary's training calendar</div>
            <div class="interactive-deck"><%=d["Heatmap-deck"]%></div>
            <div class="legend-container">
              <div class="swath-text left">0 miles</div>
              <div class="swath white-swath"></div>
              <div class="swath red-swath5"></div>
              <div class="swath red-swath4"></div>
              <div class="swath red-swath3"></div>
              <div class="swath red-swath2"></div>
              <div class="swath red-swath1"></div>
              <div class="swath red-swath0"></div>
              <div class="swath-text right">26.2+ miles</div>
            </div>
            <div id="hilary-heatmap"></div>
            <div class="hed gene-heatmap">Gene's training calendar</div>
            <div class="interactive-deck"><%=d["Heatmap-deck-gene"]%></div>
            <div id="gene-heatmap"></div>
          <% } else { %>
            <div class="hed"><%=d.Name.split(" ")[0]%>'s training calendar</div>
            <div class="interactive-deck"><%=d["Heatmap-deck"]%></div>
            <div class="legend-container">
              <div class="swath-text left">0 miles</div>
              <div class="swath white-swath"></div>
              <div class="swath red-swath5"></div>
              <div class="swath red-swath4"></div>
              <div class="swath red-swath3"></div>
              <div class="swath red-swath2"></div>
              <div class="swath red-swath1"></div>
              <div class="swath red-swath0"></div>
              <div class="swath-text right">26.2+ miles</div>
            </div>
            <div id="<%=d.Key%>-heatmap"></div>
          <% } %>
        </div>

        <% if (d.Key == "hilary"){ %>
          <div class="story-container">
            <div class="chart-wrapper">

              <div class="miles-chart">
                <div class="subhed">Hilary and Gene's total miles</div>
                <div class="hover-container training">
                  <div id="hover-runner-TotalMiles-hilary" class="hover-name"></div>
                  <div id="hover-number-TotalMiles-hilary" class="hover-pace"></div>
                </div>
                <div id="hover-chart-miles-hilary"></div>
              </div>

              <div class="elevation-chart">
                <div class="subhed">Hilary and Gene's total elevation gain</div>
                <div class="hover-container training">
                  <div id="hover-runner-TotalElevation-hilary" class="hover-name"></div>
                  <div id="hover-number-TotalElevation-hilary" class="hover-pace"></div>
                </div>
                <div id="hover-chart-elevation-hilary"></div>
              </div>
            </div>
          </div>

          <div class="text-pullout"><%=d.FunFact.replace("**","<span class='bold-text-pullout'>").replace("*","</span>").replace("**","<span class='bold-text-pullout'>").replace("*","</span>")%>
          </div>

          <div class="source">Source: <a href="https://www.strava.com" target="_blank">Strava</a>, <%=d.Name%></div>

        <% } else { %>
          <div class="story-container">
            <div class="chart-wrapper">
              <div class="miles-chart">
                <div class="subhed"><%=d.Name.split(" ")[0]%>'s total miles</div>
                <div class="hover-container training">
                  <div id="hover-runner-TotalMiles-<%=d.Key%>" class="hover-name"></div>
                  <div id="hover-number-TotalMiles-<%=d.Key%>" class="hover-pace"></div>
                </div>
                <div id="hover-chart-miles-<%=d.Key%>"></div>
              </div>
              <div class="elevation-chart">
                <div class="subhed"><%=d.Name.split(" ")[0]%>'s total elevation gain</div>
                <div class="hover-container training">
                  <div id="hover-runner-TotalElevation-<%=d.Key%>" class="hover-name"></div>
                  <div id="hover-number-TotalElevation-<%=d.Key%>" class="hover-pace"></div>
                </div>
                <div id="hover-chart-elevation-<%=d.Key%>"></div>
              </div>
            </div>
          </div>

          <div class="text-pullout"><%=d.FunFact.replace("**","<span class='bold-text-pullout'>").replace("*","</span>").replace("**","<span class='bold-text-pullout'>").replace("*","</span>")%></div>
          </div>

          <div class="source">Source: <a href="https://www.strava.com" target="_blank">Strava</a>, <%=d.Name%></div>

        <% } %>

        <% d.text.forEach(function(d,idx) { %>
            <p><%=d.value%></p>
        <% }); %>


      <% }); %>

      <div class="section-break"></div>

      <div class="conclusion-text">
        <% json.sfmarathontraining.conclusion.forEach(function(d,idx) { %>
          <% if (d.type == "text") { %>
            <p><%=d.value%></p>
          <% } else { %>
            <div class="interactive-container">
              <div class="hed"><%=d.value[0].Hed%></div>
              <div class="interactive-deck"><%=d.value[0].Deck%></div>
              <div class="instructions">Click on the buttons below to see each runner's training. <i class="fa fa-hand-o-right" aria-hidden="true"></i></div>
              <div class="legend-container-big mobile">
                <div class="button all active" id="all-button">All runners</div>
                <% json.sfmarathontraining.profiles.forEach(function(d,idx){ %>
                  <% if (d.Key == "hilary"){ %>
                    <div class="button hilary" id="hilary-button">Hilary</div>
                    <div class="button gene" id="gene-button">Gene</div>
                  <% } else { %>
                    <div class="button <%=d.Key%>" id="<%=d.Key%>-button"><%=d.Name.split(" ")[0]%></div>
                  <% } %>
                <% }); %>
              </div>
              <div class="legend-container-big desktop">
                <div class="button all active" id="all-button">All runners</div>
                <% json.sfmarathontraining.profiles.forEach(function(d,idx){ %>
                  <% if (d.Key == "hilary"){ %>
                    <div class="button hilary" id="hilary-button">Hilary Shirazi</div>
                    <div class="button gene" id="gene-button">Gene Dykes</div>
                  <% } else { %>
                    <div class="button <%=d.Key%>" id="<%=d.Key%>-button"><%=d.Name%></div>
                  <% } %>
                <% }); %>
              </div>
              <div id="dot-chart"></div>
              <div class="source">Source: <a href="https://www.strava.com" target="_blank">Strava</a>, Bálint Gál, Gene Dykes, Greg McQuaid, Hilary Shirazi, Iain Mickle, Jorge Maravilla and Lauren Elkins</div>
            </div>
          <% } %>
        <% }); %>
      </div>

    </div>

    <%= t.include("partials/_credits.html") %>
    <%= t.include("partials/_dontMiss_training.html") %>
    <%= t.include("partials/_footer.html") %>

    <script>
      var balintData = <%= JSON.stringify(json.BalintGal) %>;
      var geneData = <%= JSON.stringify(json.GeneDykes) %>;
      var gregData = <%= JSON.stringify(json.GregMcQuaid) %>;
      var hilaryData = <%= JSON.stringify(json.HilaryDykes) %>;
      var iainData = <%= JSON.stringify(json.IainMickle) %>;
      var jorgeData = <%= JSON.stringify(json.JorgeMaravilla) %>;
      var laurenData = <%= JSON.stringify(json.LaurenElkins) %>;
    </script>

    <script src="../app-training.js" async></script>

    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
