<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="outer">

      <div class="hed">How far and how fast are all the runners going on each run?</div>
      <div class="deck">Each dot represents a run in the training leading up to the marathon. The size of the dots represents the elevation gain on the run. Longer runs are on the right, and slower runs are on the top. Color-coded by runner.</div>
      <div id="dot-chart"></div>

      <div class="hed">What kind of elevation do the runners do to train?</div>
      <div class="deck">Some of the runners do a lot more elevation gain than others. Color-coded by runner.</div>
      <div id="hover-chart"></div>

      <div class="story-container">
        <div class="hed">Hilary Dykes</div>
        <div id="hilary-heatmap"></div>
      </div>
      <div class="story-container">
        <div class="hed">Gene Dykes</div>
        <div id="gene-heatmap"></div>
      </div>
      <div class="story-container">
        <div class="hed">Iain Mickle</div>
        <div id="iain-heatmap"></div>
      </div>
      <div class="story-container">
        <div class="hed">Greg McQuaid</div>
        <div id="greg-heatmap"></div>
      </div>
      <div class="story-container">
        <div class="hed">Jorge Maravilla</div>
        <div id="jorge-heatmap"></div>
      </div>

      <div class="hed">Elevation gain by Jorge</div>
      <div id="jorge-elevation"></div>

      <div class="hed">Cumulative miles by Jorge</div>
      <div id="jorge-miles"></div>

      <div class="hed">Cumulative hours by Jorge</div>
      <div id="jorge-time"></div>

      <div class="hed">Time vs. miles by Jorge</div>
      <div id="jorge-time2"></div>

      <div class="hed">Time vs. elevation by Jorge</div>
      <div id="jorge-time3"></div>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var hilaryData = <%= JSON.stringify(json.HilaryDykes) %>
      var geneData = <%= JSON.stringify(json.GeneDykes) %>
      var iainData = <%= JSON.stringify(json.IainMickle) %>
      var jorgeData = <%= JSON.stringify(json.JorgeMaravilla) %>
      var gregData = <%= JSON.stringify(json.GregMcQuaid) %>
    </script>

    <script src="app.js" async></script>

    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
