<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="outer">

      <div class="top-container">
        <div class="title"><%=json.sfmarathontraining["Title"]%></div>
        <div class="title-deck"><%=json.sfmarathontraining["Deck"]%></div>
        <div class="author">By Erin Allday and Emma O'Neill</div>
        <div class="author">Photos by Santiago Mejia</div>
      </div>

      <div class="intro-text">
        <% json.sfmarathontraining.intro.forEach(function(d,idx) { %>
          <p><%=d.value%></p>
        <% }); %>
      </div>

      <div id="dot-chart"></div>

      <% json.sfmarathontraining.profiles.forEach(function(d,idx){ %>

        <div class="profile-hed"><%=d.Name%></div>

        <div class="inline-image">
          <img src="http://ww2.hdnux.com/photos/61/64/55/<%= d.image[0].WcmID %>/5/1000x0.jpg">
          <div class="caption"><%= d.image.Caption %></div>
        </div>

        <div class="interactive-container">
          <div class="hed"><%=d.Name%>'s training calendar</div>
          <div class="interactive-deck"><%=d["Heatmap-deck"]%></div>
          <div class="legend-container">
            <div class="swath-text left">0 miles</div>
            <div class="swath white-swath"></div>
            <div class="swath red-swath5"></div>
            <div class="swath red-swath4"></div>
            <div class="swath red-swath3"></div>
            <div class="swath red-swath2"></div>
            <div class="swath red-swath1"></div>
            <div class="swath red-swath0"></div>
            <div class="swath-text right">26.2+ miles</div>
          </div>
          <div id="<%=d.Key%>-heatmap"></div>
        </div>

        <div class="story-container">

          <div class="chart-wrapper">
            <div class="elevation-chart">
              <div class="hed"><%=d.Name%>'s total elevation gain</div>
              <div id="hover-chart-elevation-<%=d.Key%>"></div>
            </div>

            <div class="miles-chart">
              <div class="hed"><%=d.Name%>'s total miles</div>
              <div id="hover-chart-miles-<%=d.Key%>"></div>
            </div>
          </div>
        </div>

        <div class="interactive-container">
          <div class="hed">Every run by <%=d.Name%>: mileage, pace, and elevation</div>
          <div id="dot-chart-<%=d.Key%>"></div>
        </div>


        <% d.text.forEach(function(d,idx) { %>
          <p><%=d.value%></p>
        <% }); %>

        <div class="text-pullout"><%=d.Name%> ran a total of <span></span> hours in the last 3 months.</div>


      <% }); %>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var balintData = <%= JSON.stringify(json.BalintGal) %>;
      var geneData = <%= JSON.stringify(json.GeneDykes) %>;
      var gregData = <%= JSON.stringify(json.GregMcQuaid) %>;
      var hilaryData = <%= JSON.stringify(json.HilaryDykes) %>;
      var iainData = <%= JSON.stringify(json.IainMickle) %>;
      var jorgeData = <%= JSON.stringify(json.JorgeMaravilla) %>;
      var laurenData = <%= JSON.stringify(json.LaurenElkins) %>;
    </script>

    <script src="app.js" async></script>

    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
